.dash-active-green {
    position: relative;
    color: white;
    
    display: flex;
    align-items: center;
}

.dash-active-green::after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 5px;
    right: -40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dash-active-green::after {
    background-color: rgb(16, 227, 0);
}
.dash-active-green:hover {
    color: white;
}

.dash-link {
    display: flex;
    align-items: center;
    color: white;
}

.dash-link:hover {
    color: rgb(254, 107, 107);
}