#root {
  width: 100%
}

.App {
  height: 100vh;
  background-color: #242424;
}

.content::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.nav-active {
  padding: 3px 0px;
  font-weight: bold;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  border-bottom: 1px solid #d2bd75;
}

.btnLogin {
  box-shadow: 0 0 7px #d2bd75;
  color: #d2bd75;
}
.menuShow {
  position: relative;
  width: 28px;
  height: 28px;
  /* border: 1px solid red; */

  display: flex;
  place-items: center;

  cursor: pointer;
}

.menuShow>:nth-child(1),
.menuShow>:nth-child(2),
.menuShow>:nth-child(3) {
  width: 100%;
  height: 5px;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 0 7px #d2bd75;
}
.menuShow.active>:nth-child(1),
.menuShow.active>:nth-child(2),
.menuShow.active>:nth-child(3) {
  background-color: rgb(34, 34, 34);
  box-shadow: 0 0 7px rgba(255, 63, 63, 0.8);
}

.menuShow>:nth-child(1) {
  position: absolute;
  transform-origin: 0 0;
  top: 0;
  left: 0;
  animation: nth1 .3s linear both;
}
@keyframes nth1 {
  from {
    transform: rotateZ(45deg);
  }
  to {
    transform: rotatez(0);
  }
}

.menuShow>:nth-child(2) {
  position: relative;
  top: 12px
}

.menuShow>:nth-child(3) {
  position: absolute;
  transform-origin: 0 0;
  bottom: 0;
  left: 0;
  animation: nth3 .3s linear both;
}
@keyframes nth3 {
  from {
    transform: rotateZ(-45deg);
  }
  to {
    transform: rotatez(0);
  }
}

.menuShow.active>:nth-child(1) {
  animation: nth1-active .3s linear both;
}
@keyframes nth1-active {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotateZ(47deg);
    top: 3px;
    left: 3.5px;
  }
}

.menuShow.active>:nth-child(3) {
  animation: nth3-active .3s linear both;
}
@keyframes nth3-active {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotateZ(-45deg);
  }
}

.menuShow>:nth-child(2) {
  animation: nth2 .3s linear both;
}
@keyframes nth2 {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}
.menuShow.active>:nth-child(2) {
  animation: nth2-active .3s linear both;
}
@keyframes nth2-active {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg);
  }
}

.menuList {
  animation: menuList .5s linear;
}
@keyframes menuList {
  from {
    transform: translateY(-20px);
    opacity: .2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#link {
  animation: sliceLeft .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  opacity: 0;
}
@keyframes sliceLeft {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#link-d {
  animation: sliceDown .5s ease forwards;
  animation-delay: calc(.3s * var(--j));
  opacity: 0;
}
@keyframes sliceDown {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.boxTop {
  top: 73px;
  transform: rotateZ(45deg);
}

.card {
  box-shadow: 3px 3px 6px #d2bd75;
  animation: card calc(.2s * var(--i)) linear both;
  overflow: hidden;
  padding: 1px;
}
@keyframes card {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}