#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
}

.content::-webkit-scrollbar,
.docProduct::-webkit-scrollbar,
.boxCart::-webkit-scrollbar {
  display: none
}

.content, .docProduct, .boxCart {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.logo {
  animation: logo .6s linear both;
}

@keyframes logo {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}

.login {
  animation: login .6s linear both;
}

@keyframes login {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateX(0);
  }
}

.arrow-dash {
  animation: arrowDash 3s linear infinite alternate;
  transform: rotateZ(45deg);
}

@keyframes arrowDash {
  from {
    transform: rotateY(0px);
  }
  to {
    transform: rotateY(180deg);
  }
}

.menulist {
  position: relative;
  width: 30px;
  height: 27px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.menulist>div {
  position: relative;
  width: 100%;
  background-color: #4f4f4f;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.menulist>div:nth-child(2) {
  position: relative;
  height: 4px;
}

.menulist>div:nth-child(1) {
  position: absolute;
  top: 0;
  height: 4px;
}

.menulist>div:nth-child(3) {
  position: absolute;
  bottom: 0;
  height: 4px;
}

.menulist.active-open>div:nth-child(2) {
  animation: animadiv2 .2s linear both;
}

@keyframes animadiv2 {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg);
  }
}

.menulist.active-open>div:nth-child(1) {
  animation: animadiv1 .2s linear both;
  transform-origin: 0 0;
}

@keyframes animadiv1 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(45deg);
  }
}

.menulist.active-open>div:nth-child(3) {
  animation: animadiv3 .2s linear both;
  transform-origin: 0 0;
}

@keyframes animadiv3 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-45deg);
    bottom: 0.7px;
    right: 2.5px;
  }
}


.menulist.active-close>div:nth-child(2) {
  animation: animadivClose2 .2s linear both;
}

@keyframes animadivClose2 {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

.menulist.active-close>div:nth-child(1) {
  animation: animadivClose1 .2s linear both;
  transform-origin: 0 0;
}

@keyframes animadivClose1 {
  from {
    transform: rotateZ(45deg);
    left: 2px;
  }
  to {
    transform: rotateZ(0);
  }
}

.menulist.active-close>div:nth-child(3) {
  animation: animadivClose3 .2s linear both;
  transform-origin: 0 0;
}

@keyframes animadivClose3 {
  from {
    transform: rotateZ(-45deg);
    bottom: 0.7px;
    right: 2.5px;
  }
  to {
    transform: rotateZ(0);
    bottom: 0;
    right: 0;
  }
}

.navlink {
  animation: menunav calc(.2s * var(--i)) linear both;
}

@keyframes menunav {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menuShow.active-open {
  animation: menuShow .2s linear both;
}

@keyframes menuShow {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menuShow.active-close {
  animation: menuShowClose .2s linear both;
}

@keyframes menuShowClose {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.menuShow.active-open>.menuL {
  animation: menuL calc(.1s * var(--r)) linear both;
}

@keyframes menuL {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

.menuShow.active-close>.menuL {
  animation: menuLClose calc(.1s * var(--r)) linear both;
}

@keyframes menuLClose {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

.line {
  position: relative;
  background-color: rgb(221, 186, 163);
  width: 0.5px;
  height: 200px;
}

.prList.active {
  animation: prList .2s linear both;
}

@keyframes priList {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.alert {
  animation: alert .3s linear both;
}

@keyframes alert {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.conta {
  animation: imageProduct calc(.06s * var(--i)) linear both;
}

@keyframes imageProduct {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.boxCard {
  animation: upscaleT .06s linear both;
}

@keyframes upscaleT {
  from {
    transform: scale(1.03);
  }
  to {
    transform: scale(1);
  }
}

.boxCard:hover {
  animation: upscale .06s linear both;
}

@keyframes upscale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.03);
  }
}

.btnAddCart:hover {
  box-shadow: 0px 0px 5px #c0ff93;
}

.imageProduct {
  width: 240px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 640px) {
  .imageProduct {
    width: 160px;
    height: 180px;
  }
}
